name: Beta Build & Release

on:
  push:
    tags:
      - "v*.*.*-beta.*"

jobs:
  build-beta:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Beta App
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build:win-beta

      - name: Publish Beta Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          files: |
            dist/**/*.exe
            dist/**/*.zip
